@charset "UTFS-8";

@font-face{
    font-family: capybarbas;
    src: url(../fonts/Cakecafe.ttf);
}
:root{
    --cor1:#223740;
    --cor2:#456E73;
    --cor3:#D9C39A;
    --cor4:#A68965;
    --cor5:#8C4F4F;
}
*{
    margin:0 ;
    padding:0 ; 

}
body{
    position: relative;
    z-index: -3;

}
header{
    height: 70px;
    background-color: var(--cor1);
    display:flex;
    flex-direction:row;

}
#header {
    display: flex;  
    width: 90px;
    max-width: 1500px; 
    margin: auto; 
    justify-content: space-evenly;
    align-items: center;                                                                                                                                                                                     
}

#logo {
    min-width: 300px;
    color: rgb(205, 252, 255);/* definir a cor da fonte */
    font-size: 30px;/* definir tamanho da fonte */
    text-transform: uppercase;/* coloca letra maiuscula */
    display: flex;
    align-items: center;/* torna os itens imternos em flexiveis*/
    
    
}

#logo img {
    width: 50px
}
#logo p {
margin-left: 10px;
min-width: 235px;
}

#botao-menu{
    display: none;
}

label[for='botao-menu']{
    color: rgb(0, 247, 255);
    cursor: pointer;
    display: none;
}

nav {
    display: flex;
}



a{
    text-decoration: none;
    text-transform: uppercase; /* letras maiusculas */
    color: azure;
    height: 100%;/* altura */
    width:105px ;/* largura */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px 0 10px;
}

a:hover {
   background-color: var(--cor2);
}

#baner{
    margin: auto;
    width: 100%;
    height: 300px;
    background-image: url("../imagens/pexels-nikolaos-dimou-1319460.jpg"
    );
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -2;

}

#backgroundFilter{
    background-color: rgba(9, 29, 92, 0.445);
    width:100% ;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text-figure-small{
    color: #8C4F4F;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}
 #text-figure-1{
    width: 127px;
    border-bottom: 5px solid rgb(66, 95, 129);
    color:rgb(185, 155, 100);
    font-size: 30px;text-transform: uppercase;
    font-weight: bold;
    font-family: capybarbas;
 }
 #text-figure-2{
    color: aliceblue;
    text-transform: uppercase;
    font-size: 72px;
    font-weight:bold ;
    font-family: varsiy;
 }
main{
    position: relative;
    top: -30px;
    width: 90%;
    max-width: 1500px;
    margin: 0 auto 50px auto;
    border-top: 3px solid var(--cor3);
    box-shadow: black;
    background-color: azure;

}


.main-section{
    width: 95%;
    max-width: 95%;
    margin:30px auto 40px auto ;
    height: 500px;
    border: 1px solid black;
    border-top: 3px solid var(--cor4);

}

.main-section h1 {
    margin-bottom: 50px;
    text-align: center;
}

#serviços{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

#serviços > div {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    
}
.img-serviços {
    background-color: var(--cor4);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
#serviços img {
    width: 50px;
    background-color:rgb(31, 31, 146);
    padding:5px;
    border-radius:50%;
}
#serviços div:hover img{
    background-color: aqua;

}
#serviços div:hover img{
    color: aqua;
}

#profissionais{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#profissionais > div {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

#profissionais img {
    background-color: var(--cor4);
    width: 200px;
    height: 170px;
    border-radius: 20%;
    border: 1px solid black;
}
/* #profissionais div:hover img {
    width: 50px;
    background-color:rgb(31, 31, 146);
    padding:5px;
    border-radius:50%;
}
 #profissionais div:hover img{
    background-color: aqua;
 }
 #profissionais div:hover img{
    color:aqua;
 } */
 #contato{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
 }
 #contat > p {
    width: 49%;
    min-width: 300px;
    text-align: justify;
    margin-bottom: 10px;
 }
 #contato > div{
    width: 49%;
    min-width: 300px;
    margin-bottom: ;
 }

 #form-nome {
    width: 48%;
    display: flex;
    flex-direction: column;
 }

 #form-email{
    width: 48%;
    display: flex;
    flex-direction: column;
 }
 #form-msg{
    width:100% ;
    display: flex;
    flex-direction: column;
 }
 #form-btn{
    width: 100%;
    display: flex;
    flex-direction: column;
 }
 
 #form-btn input{
    background-color: #8C4F4F;
 }

 #contato-imput{
    border-radius: 5px;
    height: 30px;

 }

 #contato label,imput,textarea{
    margin-bottom: 10px;
 }

 #footer {
    background-color: var(--cor2);
    height: auto;

 }

 #footer{
    width: 90%;
    max-width: 1500px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#footer > div{
    width: 50%;
    min-width: 300px;
}

footer{
    background-color: var(--cor1);
    height: 350px;
}

#footer h2{
    text-align: center;
    margin: 20px auto 40px auto;
}
#footer-redes{
    display: flex;
    justify-content: space-around;
    min-height: 300px;
    align-items: center;
    flex-wrap: wrap;}

    
#footer-redes a{
    height: 100px;
    width: 70px;
    border-radius: 20px;
}

#footer-redes{
    display: flex;
    justify-content: space-around;
    min-height: 300px;
    align-items: center;
    flex-wrap: wrap;
}

#footer-end{
    text-align: center;}

@media (max-width: 1090px) {
    nav {
        
        flex-direction: column;
        position: absolute;
        width: 90%;
        top: 70px;
        margin-top: -200%;
        transition: all 1s;
        z-index: -1;
    }

    a{
        width: 100%;
        background-color: rgb(86, 153, 184);
        padding: 0;

    }
    label[for='botao-menu']{
        display: block;
    }
    #botao-menu:checked ~ nav{
        margin-top: 0;
    }
        
          
    }




    

